@import 'reset.css';
@import 'common.scss';

@font-face {
  font-family: 'Futura Bold';
  src: url('../fonts/FuturaLTPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Futura Medium';
  src: url('../fonts/FuturaLTPro-Medium.otf') format('opentype');
}
